---

---
<section class="bg-gradient-to-b from-secondary via-secondary to-primary
p-8 text-center text-neutral-200 ">
    <div class="flex items-start justify-start mt-8 mb-8 pb-8">
      <div class="pl-16">
        <h2 class="text-3xl font-bold">Ready to get started?</h2>
        <p class="text-lg mt-4 mb-4">Join us today and experience the best.</p>
        <a href="#contactForm" class="bg-yellow-700 px-4 py-2 mt-6 rounded-full hover:bg-blue-900 transition">Sign Up Now</a>
      </div>
    </div>
</section>

<style>

</style>