---

---
<div id="timer" class="flex flex-col justify-center items-center text-center text-white">
    <div class="flex lg:16xl md:text-8xl sm:text-2xl min-h-full mb-16">
        <div class="p-1.5 mr-4 rounded-box">
            <span class="countdown">
                <span id="days"></span>
            </span>
        </div> 
        <div class="p-1.5 mr-4 rounded-box">
            <span class="countdown">
                <span id="hours"></span>
            </span>
        </div> 
        <div class="p-1.5 mr-4 rounded-box">
            <span class="countdown">
                <span id="minutes" ></span>
            </span>
        </div> 
        <div class="p-1.5 mr-4 rounded-box">
            <span class="countdown">
                <span id="seconds"></span>
            </span>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // target date
        const countDownDate = new Date("March 23, 2024 00:00:00").getTime();
        const now = new Date().getTime();
        let distance = countDownDate - now;        
        const countdownInterval = setInterval(() => {
            updateCountdown();
            distance -= 1000;
            if (distance < 0) {
                distance = 0; // Asegura que diff no sea negativo
            }
        }, 1000);
        // Get the current date and time
        const updateCountdown = () => {
            const remainingDays = Math.floor(distance / (1000 * 60 * 60 * 24));
            const remainingHours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const remainingMinutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const remainingSeconds = Math.floor((distance % (1000 * 60)) / 1000);
            let days = document.getElementById('days');
            let hours = document.getElementById('hours');
            let minutes = document.getElementById('minutes');
            let seconds = document.getElementById('seconds');

            days.innerHTML = remainingDays.toString() + ' days - ';
            hours.innerHTML = remainingHours < 10 ? '0' + remainingHours.toString() + ' hours - ' : remainingHours.toString() + ' hours - ';
            minutes.innerHTML = remainingMinutes < 10 ? '0' + remainingMinutes.toString() + ' min - ' : remainingMinutes.toString() + ' min - ';
            seconds.innerHTML = remainingSeconds < 10 ? '0' + remainingSeconds.toString() + ' sec': remainingSeconds.toString() + ' sec';
        }

        updateCountdown();

    });

</script>