---
const { copyRight } = Astro.props;

---
<footer
  class="flex flex-col items-center text-center inset-x-0 bottom-0 p-16">
  <p class="text-2xl font-bold mt-2 mb-2">For any business inquiries, please email contact@unifiedd.media</p>
  <!--Copyright section-->
  <div class="w-full mr-2 text-center">
    © 2024 Copyright:
    <a
      class="text-xl"
      href=""
      >{copyRight}  All Rights Reserved</a
    >
  </div>
</footer>

<style>

</style>