---
import { Image } from 'astro:assets';
import movieNight from '../assets/images/movieNight_small.png';

---

<section class="
    
    text-neutral-200 
    p-8
    bg-gradient-to-b from-secondary via-primary to-secondary
    "
>
    <div>
        <h1 class="mt-0 mb-16 pl-16 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">
            Fetching content for <br />pet people!
          </h1>
    </div>
    <div class="mb-4 flex flex-row">

        <div>
            <Image
            src={movieNight}
            class="h-1/8 max-w-full rounded-full"
            alt="" />
        </div>
    
        <div class="flex flex-col pt-8 justify-center items-center content-end">
            <div class="ml-16 content-end">
                <p class="text-lg mt-4 mb-4">Stop endlessly scrolling and let buddi fetch the best entertaining and family-friendly movies and TV shows for pet people of all ages.</p>
                <a href="#contactForm" class="px-4 py-2 mt-6 rounded-full bg-yellow-700 hover:bg-blue-900 transition">Get Started</a>
            </div>
        </div>
      </div>
</section>

<style>
    
</style>