---
const { src } = Astro.props;

---
<div class="flex p-8 text-center items-center justify-center text-accent-c">
    <div class="flex flex-col items-center">
        <div class="h-full mb-12 overflow-hidden rounded-3xl shadow-2xl shadow-black">
            <!-- Sizzle Reel -->
            <video class="z-10 min-w-60 max-w-1/2 aspect-video" id="sizzleReel" loop muted autoplay>
                <source src={src}></source>
            </video>
        </div>
    </div>
</div>
    
<style>
    

</style>